/* Footer Section Styles */
footer{
    color: white;
    background-color: black;
    padding: 50px;
}

.footer-header{
   display: flex;
    justify-content: space-between;
}
.footer-anchor{
    text-align: center;
    font-size: 30px;
}
.footer-anchor a{
    margin-right: 20px;
}